*{
  padding: 0;margin: 0;box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
align-items: center;
justify-content: center;
  font-weight: 600;
}
.main_img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
#i{
  height: 20px;
  width: 20px;
}

table {
  border:  rgb(255, 255, 255);
  background:transparent;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.70;
  background: rgba(255, 253, 253, 0.9)

}
button{
  background-color: skyblue;
  height: 25px;
  width: 70px;
  border-radius: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow:black 50%;
  font-weight: 700;
  text-align: center;
}
#rf{
  font-size: x-large;
}
button:hover{
  background-color: rgb(255, 253, 253);
}
input[type=text]{
  color: rgb(0, 0, 0);
  background:transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 250px;
  height: 30px;
}
input:focus {
  outline-width: 0;
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
}

textarea{
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
textarea:focus{
  outline-width: 0;
}
#lf{
  font-size: x-large;
}
#rr{
  height: 200px;
  width: 300px;
}
